<footer>
  <div>
    <a href="#"
    title="Subir al inicio de la página"
    ><img
    src="./assets/images/ico-arrow.svg"
    alt="Subir al inicio de la página"
    /></a>
  </div>
  <div>
    <nav>
      <ul>
        <li>
          <a href="https://adalab.es/" target="_blank"
          title="Ir a la página de Adalab">Articles</a>
        </li>
        <li>
          <a href="https://adalab.es/" target="_blank"
          title="Ir a la página de Adalab">Books</a>
        </li>
        <li>
          <a href="https://adalab.es/" target="_blank"
          title="Ir a la página de Adalab">Events</a>
        </li>
        <li>
          <a href="https://adalab.es/" target="_blank"
          title="Ir a la página de Adalab">Reasons</a>
        </li>
        <li>
          <a href="https://adalab.es/" target="_blank"
          title="Menú para ir a la página de Adalab">Tips</a>
        </li>
      </ul>
    </nav>
    <nav>
      <ul>
        <li>
          <a href="https://adalab.es/" target="_blank"
          title="Ir a la página de Adalab">Twitter</a>
        </li>
        <li>
          <a href="https://adalab.es/" target="_blank"
          title="Ir a la página de Adalab">Instagram</a>
        </li>
        <li>
          <a href="https://adalab.es/" target="_blank"
          title="Ir a la página de Adalab">Mastodon.social</a>
        </li>
      </ul>
    </nav>
    <div>
      <small>&copy; 2017</small>
      <small>we<span>&#10084</span>components</small>
    </div>  
  </div>
</footer>
