<footer class="footer">
  <div class="footer__button">
    <a class="footer__button--arrow" href="#"
    title="Go to top"
    ><img
    src="./assets/images/ico-arrow.svg"
    alt="Go to top" title="Go to top"
    /></a>
  </div>
  <div class="footer__container">
    <nav class="footer__menu1">
      <ul class="footer__menu--list">
        <li>
          <a class="footer__menu--link" href="https://adalab.es/" target="_blank"
          title="Go to Adalab">Articles</a>
        </li>
        <li>
          <a class="footer__menu--link" href="https://adalab.es/" target="_blank"
          title="Go to Adalab">Books</a>
        </li>
        <li>
          <a class="footer__menu--link" href="https://adalab.es/" target="_blank"
          title="Go to Adalab">Events</a>
        </li>
        <li>
          <a class="footer__menu--link" href="https://adalab.es/" target="_blank"
          title="Go to Adalab">Reasons</a>
        </li>
        <li>
          <a class="footer__menu--link" href="https://adalab.es/" target="_blank"
          title="Go to Adalab">Tips</a>
        </li>
      </ul>
    </nav>
    <nav class="footer__menu2">
      <ul class="footer__menu--list">
        <li>
          <a class="footer__menu--link" href="https://adalab.es/" target="_blank"
          title="Go to Adalab">Twitter</a>
        </li>
        <li>
          <a class="footer__menu--link" href="https://adalab.es/" target="_blank"
          title="Go to Adalab">Instagram</a>
        </li>
        <li>
          <a class="footer__menu--link" href="https://adalab.es/" target="_blank"
          title="Go to Adalab">Mastodon.social</a>
        </li>
      </ul>
    </nav>
    <div class="footer__container--small">
      <small class="footer__container--small-copy">&copy; 2021</small>
      <small class="footer__container--small-copy">we<span class="footer__container--small-span"> &#10084 </span>components</small>
    </div>  
  </div>
</footer>