<header class="header">
  <div class="header__hero">
    <nav class="header__hero--menu">
      <a class="header__hero--menu-link" href="https://adalab.es/" target="_blank" title="Go to Adalab"><img src="./assets/images/ico-menu.svg" alt="Go to Adalab" title="menu button"/></a>
    </nav>
    <div class="header__hero--container">
      <h1 class="header__hero--title">Anonymous proxy</h1>
      <p class="header__hero--text">In hac habitasse platea dictumst.</p>
      <div class="header__hero--button">
        <a class="header__hero--button-link" href="#reasons" title="Go to Reasons"><img src="./assets/images/ico-scroll-down.svg" alt="Go to Reasons" title="reasons button"/></a>
      </div>
    </div>
  </div>
</header>