$font-size: 16px;
$font-title: "Roboto Slab", serif;
$main-font: "Roboto", sans-serif;
$white: #fff;
$black: #000;
$text-color: #4a4a4a;
$button-color: #f26002;
$ice-blue: #eff9ff;
$light-blue: #8ccbea;
$blue: #0271bc;
$dark-blue: #304268;
