// fonts
$font-title: "Roboto Slab", serif;
$font-main: "Roboto", sans-serif;

// colors
$white: #fff;
$black: #000;
$text-color: #4a4a4a;
$button-color: #f26002;
$ice-blue: #eff9ff;
$light-blue: #8ccbea;
$blue: #0271bc;
$dark-blue: #304268;
