.precios {
  background-color: $dark-blue;
  color: $white;
  font-family: $main-font;
  &__title {
    text-align: center;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media all and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      margin-right: 20px;
      margin-left: 20px;
    }
  }
}
