.header {
  height: 100vh;
  width: 100vw;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center top;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @media all and (min-width: 768px) {
    height: 768px;
  }

  &__menu {
    width: 44px;
    height: 44px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--title {
      font-family: $font-title;
      width: 290px;
      height: 110px;
      font-size: 42px;
      font-weight: bold;
      color: $white;
      line-height: 1.31;
      text-align: center;
      text-transform: uppercase;
      @media all and (min-width: 768px) {
        width: 690px;
        height: 212px;
        font-size: 80px;
      }
      @media all and (min-width: 1200px) {
        width: 730px;
        height: 264px;
        font-size: 100px;
      }
    }

    &--text {
      font-family: $main-font;
      height: 21px;
      font-size: $font-size;
      color: $white;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 45px;
      @media all and (min-width: 768px) {
        height: 32px;
        font-size: 24px;
        margin-bottom: 30px;
      }
    }

    &--button {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 53px;
      &-arrow {
        padding: 13px;
      }
    }
  }
}
