.reasons {
  height: 624px;
  background-color: $ice-blue;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  /*justify-content: center;*/
  padding: 30px 15px 60px 15px;
  @media all and (min-width: 768px) {
    height: 397px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 30px 10px 30px 10px;
  }
  @media all and (min-width: 1200px) {
    height: 427px;
    padding: 60px 83px;
  }

  &__title {
    font-family: $font-title;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    color: $black;
    text-transform: capitalize;
    padding-bottom: 45px;
    @media all and (min-width: 768px) {
      grid-column: 1/4;
      font-size: 26px;
      line-height: 1.73;
    }
    @media all and (min-width: 1200px) {
      font-size: 32px;
      line-height: 1.41;
    }
  }

  &__article {
    text-align: center;
    padding: 0 55px 45px 55px;
    @media all and (min-width: 768px) {
      padding: 0 20px 50px 20px;
    }

    &--title {
      font-family: $font-title;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.67;
      color: $black;
      @media all and (min-width: 768px) {
        font-size: 24px;
        line-height: 1.25;
      }
    }

    &--text {
      font-family: $main-font;
      font-size: 18px;
      line-height: 1.67;
      color: $black;
      @media all and (min-width: 768px) {
        font-size: 20px;
        line-height: 1.5;
        padding-top: 14px;
      }
    }
  }
  &__button {
    width: 184px;
    height: 45px;
    font-family: $main-font;
    font-size: 20px;
    font-weight: 500;
    color: $white;
    background-color: $button-color;
    border-radius: 22.5px;
    border: solid 2px $button-color;
    cursor: pointer;
    transition: background-color ease 0.5s;
    &:hover {
      color: $button-color;
      background-color: $white;
      transform: scale(1.1);
    }
    @media all and (min-width: 768px) {
      grid-column: 1/4;
      width: 210px;
    }
    @media all and (min-width: 1200px) {
      width: 255px;
      text-transform: capitalize;
    }
  }
}
